header.header
  .header__bg
    .wrapper
      .header__inner
        .header__logo
          a(href="#" aria-label="logo").header__logo-link
            img(src='images/header-logo.png' alt='img').header-logo
        .header__block-info
          .header__title Введение в авиацию и базовые понятия
          .header__description Полеты воздушных судов, планеров, дельтапланов, воздушных шаров и других летательных аппаратов.
          .header__btn
            button.btn Войти в личный кабинет
    .header__footer-img
