section.courses
  .wrapper.wrapper--md
    .courses__inner
      .courses__title Список курсов
      .courses__description Найти и купить дешевые билеты на самолет из Бишкека и других городов Кыргызстана
      .courses__container
        ul.courses__list
          li.courses__item
            .courses__icon
              img(src='images/icon-courses1.png' alt='img').courses-icon
            h3.courses__subtitle Обучение системам бронирования
            ul.courses__list-inside
              li.courses__item-inside Работа с Клиентами
              li.courses__item-inside 6 систем бронирования авиабилетов
              li.courses__item-inside Визовые вопросы
              li.courses__item-inside Бронь авиабилетов разного уровня
              li.courses__item-inside Практическая выписка
              li.courses__item-inside Весь учебный материал
            .courses__btn
              button.courses__btn-gray Узнать больше
        ul.courses__list
          li.courses__item
            .courses__icon
              img(src='images/icon-courses2.png' alt='img').courses-icon
            h3.courses__subtitle
              | Обучение системе букит 
              span.subtitle-blue базовый уровень
            ul.courses__list-inside
              li.courses__item-inside Работа с Клиентами
              li.courses__item-inside 6 систем бронирования авиабилетов
              li.courses__item-inside Визовые вопросы
              li.courses__item-inside Бронь авиабилетов разного уровня
              li.courses__item-inside Практическая выписка
              li.courses__item-inside Весь учебный материал
            .courses__btn
              button.courses__btn-gray Узнать больше
        ul.courses__list
          li.courses__item
            .courses__icon
              img(src='images/icon-courses3.png' alt='img').courses-icon
            h3.courses__subtitle
              | Обучение системе букит 
              span.subtitle-yellow PRO уровень
            ul.courses__list-inside
              li.courses__item-inside Работа с Клиентами
              li.courses__item-inside 6 систем бронирования авиабилетов
              li.courses__item-inside Визовые вопросы
              li.courses__item-inside Бронь авиабилетов разного уровня
              li.courses__item-inside Практическая выписка
              li.courses__item-inside Весь учебный материал
            .courses__btn
              button.courses__btn-gray Узнать больше
      .courses__certificate
        .courses__certificate-container
          h2.courses__certificate-title
            | Получение сертификата об успешном окончании обучения
          .courses__certificate-description
            | Действия или попытки их совершения, создающие угрозу безопасности
            | воздушного транспорта и гражданской авиации Кыргызской Республики
        .courses__certificate-img
          img(src='images/certificate.png' alt='img').certificate-img
        