doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="icon" href="/favicon.ico" type="image/x-icon")

    if production
      // стили для font-icons
      // link(rel="stylesheet", href="icons/icons.min.css")
      // стили для svg-sprites
      // link(rel="stylesheet", href="svg/svg-symbols.min.css")
      link(rel="stylesheet", href="css/vendor.min.css")
      link(rel="stylesheet", href="css/reset.min.css")
      link(rel="stylesheet", href="css/main.min.css")
    else
      // стили для font-icons
      // link(rel="stylesheet", href="icons/icons.css")
      // стили для svg-sprites
      // link(rel="stylesheet", href="svg/svg-symbols.css")
      link(rel="stylesheet", href="css/vendor.css")
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/main.css")

    block head
      title BOOKIT

  body
    block body

    block scripts
      if production
        script(src="js/vendor.min.js")
        script(src="js/main.min.js")
        script(src="js/vendor.min.js")
      else
        script(src="js/vendor.js")
        script(src="js/main.js")
        script(src="js/vendor.js")
