@import 'common/variables'
@import 'common/*'
@import 'components/*'

@font-face
  font-family: "Roboto"
  src: url('../fonts/Roboto-Light.woff'), url('../fonts/Roboto-Light.woff2')
  font-display: swap

.page
  display: flex
  flex-direction: column
  min-height: 100%

  &__content
    flex: 1
