.footer
  padding-top: 188px;
  background-image: url(../images/footer-bg.png)
  background-repeat: repeat-x
  background-position: top center

  &__bg
    background-color: $color-blue

  &__inner
    padding-top: 20px
    color: $color-white
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    +above($breakpoints.md)
      padding-top: 30px
      justify-content: space-between
      flex-direction: row

  &__title
    font-size: 24px
    line-height: 28px
    color: $color-white
    margin-bottom: 10px

    +above($breakpoints.sm)
      font-size: 48px
      line-height: 56px
      margin-bottom: 20px

  &__description
    max-width: 288px
    font-size: 13px
    line-height: 16px
    color: $color-white
    opacity 0.5
    margin-bottom: 20px

    +above($breakpoints.sm)
      max-width: 340px
      font-size: 18px
      line-height: 24px
      margin-bottom: 30px

  &__social-icon
    display: none

    +above($breakpoints.md)
      display: flex

  &__social-mobile
    display: flex
    margin-top: 40px
    margin-bottom: 20px

    +above($breakpoints.md)
      display: none

  &__copyright
    font-size: 14px
    line-height: 20px
    opacity: 0.3
    color: $color-white
    text-align: center

    +above($breakpoints.md)
      text-align: left

.social-icon__facebook
  margin-right: 20px

.footer-contacts
  &__item
    max-width: 288px
    margin-bottom: 16px

    +above($breakpoints.sm)
      max-width: 470px;
      padding: 14px 20px
      border-radius: 20px
      padding: 10px
      margin-bottom: 12px
      background-color: $color-ligth-blue

    &:last-child
      margin-bottom: 30px

  &__flex
    display: flex
    align-items: center

  &__icon
    margin-right: 16px

  &__text-container
    margin-bottom: 0

    +above($breakpoints.sm)
      margin-bottom: 10px

  &__text
    max-width: 256px
    font-size: 13px
    line-height: 20px

    +above($breakpoints.sm)
      max-width: 242px
      font-size: 16px
      line-height: 22px
      
  &__text-small
    font-size: 14px
    line-height: 20px

    +above($breakpoints.sm)
      font-size: 12px
      line-height: 22px
  &__text-time
    font-size: 14px
    line-height: 20px

    +above($breakpoints.sm)
      font-size: 18px
      line-height: 22px

  &__form
    width: 288px
    padding: 30px 20px 20px
    background-color: $color-white
    border-radius: 20px
    box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.1)

    +above($breakpoints.sm)
      width: 470px
      padding: 40px 30px 34px 30px
      background-color: $color-white
      border-radius: 20px
      box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.1)

.form
  &__input-wrapper
    display: flex
    flex-direction: column
  &__title
    color: $color-dark
    font-size: 24px
    line-height: 28px
    margin-bottom: 20px

    +above($breakpoints.sm)
      font-size: 32px
      line-height: 37px
      margin-bottom: 30px
  &__input-box
    position: relative
    height: 40px
    margin-bottom: 16px

    +above($breakpoints.sm)
      height: 56px
      margin-bottom: 20px

  &__input-box--last-child
    height: 80px

    +above($breakpoints.sm)
      height: 140px

  &__input
    height: 40px
    position: relative
    width: 248px
    padding: 27px 20px 9px 20px
    border-radius: 10px
    background-color: $color-white-gray
    font-size: 14px
    line-height: 20px
    border: none
    color: $color-dark
    outline: none

    +above($breakpoints.sm)
      height: 56px
      width: 410px
      border-radius: 10px
      font-size: 16px
      line-height: 22px

    &--text
      min-height: 80px
      resize: none

      +above($breakpoints.sm)
        min-height: 140px

    &:focus
      background-color: $color-light-blue
      caret-color: $color-white-blue-sec
      padding: 27px 20px 9px 20px
      border: 1px solid $color-white-blue-sec


  &__input[value]:not([value=""]) + &__input-label,
  &__input:focus + &__input-label
    top: -11px

    +above($breakpoints.sm)
      top: -10

  &__btn
    border-radius: 10px
    background-color: $color-primary
    padding: 15px 0
    text-align: center
    transition: 0.2s

    +above($breakpoints.sm)
      padding: 18px 0

    &:hover
      box-shadow: 0px 0px 12px 1px rgba(123, 128, 123, 0.76)

  &__input-label
    position: absolute
    left: 0
    top: 0
    color: $color-gray
    height: 100%
    pointer-events: none
    font-size: 14px
    line-height: 20px
    transition: all 0.2s
    margin-left: 20px
    margin-bottom: 8px
    margin-top: 10px
    transition: 0.2s

    +above($breakpoints.sm)
      font-size: 16px
      line-height: 22px
      margin-left: 20px
      margin-bottom: 8px
      margin-top: 17px

  &__input:focus + &__input-label
    color: $color-white-blue
    font-size: 12px

    +above($breakpoints.sm)
      font-size: 14px
      margin-bottom: 20px
