.courses
  background-color: $color-white
  margin-top: -2px

  &__inner
    padding-top: 40px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    +above($breakpoints.xs)
      padding-top: 102px

  &__container
    display: flex
    flex-direction: column
    padding-bottom: 40px

    +above($breakpoints.md)
      display: flex
      flex-direction: row
      padding-bottom: 80px

  &__title
    font-size: 24px
    line-height: 28px
    color: $color-dark
    margin-bottom: 10px
    font-weight: 300
    font-size: 24px
    line-height: 28px

    +above($breakpoints.xs)
      margin-bottom: 20px
      font-weight: 300
      font-size: 48px
      line-height: 56px

  &__description
    margin-bottom: 30px
    color: $color-grey
    font-weight: 300
    font-size: 14px
    line-height: 20px
    text-align: center

    +above($breakpoints.xs)
      margin-bottom: 40px
      font-weight: 300
      font-size: 18px
      line-height: 24px
      text-align: center
    
  &__list
    max-width: 288px
    border-radius: 20px
    box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.1)
    background: $color-white
    list-style: none
    padding: 20px 16px 0 16px 
    margin-bottom: 16px

    &:last-child
      margin-bottom: 0px

    +above($breakpoints.xs)
      margin-right: 30px
      max-width: 370px
      list-style: none
      padding: 40px 30px 0 30px
      margin-bottom: 0

    &:last-child
      margin-right: 0

  &__icon
    margin-bottom: 30px

  &__subtitle
    margin-bottom: 10px
    font-size: 18px
    line-height: 24px

    +above($breakpoints.xs)
      margin-bottom: 30px
      font-size: 26px
      line-height: 30px

  &__list-inside
    margin-bottom: 10px

    +above($breakpoints.xs)
      margin-bottom: 30px

  &__item-inside
    font-size: 14px
    line-height: 20px
    margin-top: 10px

    &:first-child
      margin-top: 20px

    &::before
      content: "\2022"
      color: $color-white-blue
      font-weight: bold
      display: inline-block
      width: 1em
      font-size: 16px

  &__btn
    background: $color-white-gray
    border-radius: 10px
    display: inline-block
    padding: 10px
    width: 100%
    text-align: center
    margin-bottom: 20px
    transition: 0.2s

    +above($breakpoints.xs)
      padding: 13px 43px
      width: 200px

    &:hover
      box-shadow: 0px 0px 12px 1px rgba(123, 128, 123, 0.76)

  &__btn-gray
    color: $color-dark
    font-size: 14px
    line-height: 20px

    +above($breakpoints.xs)
      font-size: 16px
      line-height: 22px

  &__certificate
    padding: 40px 16px 40px 16px
    display: flex
    flex-direction: column-reverse
    background-color: $color-white-gray
    align-items: center
    margin-bottom: 32px

    +above($breakpoints.sm)
      margin-bottom: 166px
      flex-direction: row
      padding: 49px 100px 51px 100px
      justify-content: space-between

  &__certificate-container
    color: $color-dark

    +above($breakpoints.sm)
      margin-right: 40px

  &__certificate-title
    text-align: center
    font-size: 16px
    line-height: 22px
    margin-bottom: 10px

    +above($breakpoints.sm)
      font-size: 36px
      line-height: 42px
      margin-bottom: 20px

  &__certificate-description
    text-align: center
    font-weight: 300
    font-size: 13px
    line-height: 16px

    +above($breakpoints.sm)
      font-size: 18px
      line-height: 24px

.courses__certificate-img
  border-radius: 100%
  display: flex
  align-items: center
  justify-content: center
  min-width: 100px
  height: 100px
  width: 100px
  background-color: $color-white
  margin-bottom: 16px

  +above($breakpoints.sm)
    min-width: 260px
    height: 260px
    width: 260px

.certificate-img
  width: 58px
  height: 40px

  +above($breakpoints.sm)
    width: 120px
    height: 120px

.subtitle-blue
  color: $color-bright-blue

.subtitle-yellow
  color: $color-warning