.wrapper
  max-width: 770px
  margin: 0 auto
  padding-left: 20px
  padding-right: 20px
  width: 100%
  &--lg
    max-width: 1158px

  &--md
    max-width: 1210px

  &--xl
    max-width: 1320px

.d-none
  display: none

.d-xs-none
  +above($breakpoints.xs)
    display: none

.d-block
  display: block

.d-xs-block
  +above($breakpoints.xs)
    display: block
